*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgb(255, 255, 255), rgb(15, 15, 155), rgb(252, 77, 77));
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgoldenrodyellow;
}

a:hover{
    text-decoration: underline;
}